body{
  background:linear-gradient(180deg, #A22F16 0%, #090200 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1-div{
  display: flex;
  background-color: antiquewhite;
  border-radius: 12px;
  width: 90vw;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.instruction{
  width: 30vmin;
  height: auto;
  background-color: antiquewhite;
  justify-content: center;
  text-align: center;
  text-align: center;
  border-radius: 12px;
}
.instruction-screen{
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  min-height: 200px;
  height:55vmin;
  
  background-color: #090200;
  border-radius:10px ;
  color: antiquewhite;
}
.instruction-li{
  margin-bottom: 7px;
  text-align: left;
}
.card-divs{
  position: relative;
  background-color: rgb(129, 5, 5);

  width: 65vmin;
  border-radius: 12px;
  height: auto;
}
.div-row{
  display: flex;
  justify-content: space-around;
}
.timer-guess{
  width: 30vmin;
  height: auto;
  background-color: antiquewhite;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
}
.cards-timer{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.button-div{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 40px;
}
.btn{
  padding: 10px;
  width: 100px;
  border-radius: 12px;
}

.timer-screen{
  width: 70%;
  height: 50px;
  background-color: black;
  border-radius: 12px;
  margin: 0 auto;
  color: white;
  font-size: 40px;
}
.guess-screen1{
  width: 70%;
  height: 50px;
  background-color: black;
  border-radius: 12px;
  margin: 0 auto;
  color: white;
  font-size: 40px;
}
.guess-screen2{
  width: 70%;
  height: 50px;
  background-color: black;
  border-radius: 12px;
  margin: 0 auto;
  color: white;
  font-size: 40px;
}
.cards{
  width: 9vmin;
  height: 13vmin;
  transition: transform .5s;
  border-radius: 10px;
}

.cards.card-flip{
  transform: rotateY(180deg);
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  background-color: red;
  }
 




.wpopup{
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vmin;
  height: 250px;
  padding-bottom: 10px;
  background-image: url("https://media3.giphy.com/media/l49JCSwMXyxHnYJws/giphy.gif");
  background-size: 50vmin auto;
  color: rgb(230, 183, 121);
  font-size: 25px;
  border-radius: 10px;

}
.lpopup{
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50vmin;
  height: 250px;
  padding-bottom: 10px;
  background-image: url("https://media3.giphy.com/media/3oFzme5Lmm8jMwXrji/giphy.gif");
  background-size: 50vmin auto;
  color: rgb(174, 5, 5);
  font-size: 25px;
  border-radius: 10px;

}
@-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  